body{
background-color: #c4cef5;
}
h1{


}
a{ color:#8088ff;

 }
 .topnav {
   background-color: #c4cef5;
   overflow: hidden;
}

.topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.topnav a:hover {
   background-color: ghostwhite;
   color: b8c4f5;
}

.topnav a.active {
   background-color: #b8c4f5;
   color: white;
}
